@charset "UTF-8";

html{
    font-family: Montserrat, sans-serif;
}

a{
    text-decoration: none;
}

.white-uppercase{
    color: white;
    text-transform: uppercase;
}

.black-heading, .white-heading{
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 24px 0;
}

.black-heading{
    color: #4E4E4E;
}

.white-heading{
    color: #FFFFFF;
}

.black-heading::before, .white-heading::before{
    display: block;
    content: '';
    border-top: 2px solid #18CFAB;
    width: 79px;
    position: relative;
    right: -540px;
    top: 60px;
}

.black-heading::after, .white-heading::after{
    display: block;
    content: '';
    border-top: 2px solid #18CFAB;
    width: 79px;
    position: relative;
    right: -552px;
    top: 24px;
    margin-bottom: 69px;
}

.width-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.cyan-button, .blue-button{
    width: 169px;
    height: 63px;
    border: none;
    box-shadow: 0 -5px white;
    border-radius: 5px;
    margin: 0 13px;
    color: white;
    text-transform: uppercase;
}

.cyan-button{
    background-color: #18CFAB;
}

.blue-button{
    background-color: #00CBF6;
}

.load-button{
    box-shadow: none;
    font-size: 14px;
}

.load-button::before{
    content: '+';
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.load-button.hidden{
    display: none;
}

.top-section{
    background-color: #333;
    background-image: url("../img/03 Sections Background/section-1(header).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    background-color: rgba(94, 93, 88, 0.6);;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 10px;
}

.header__logo{
    display: block;
}

.logo__text{
    display: inline-block;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 30px;
}

.logo__text > span{
    font-weight: bold;
    color: #18CFAB;
}

.header__navbar{
    display: flex;
    list-style: none;
}

.header__navbar > li > a{
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
}

.header__navbar > li > a:hover{
    color: #18CFAB;
    padding-bottom: 49px;
    border-bottom: 3px solid #18CFAB;
}

.search__logo{
    width: 20px;
    height: 20px;
}

.top-section__content{
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 251px 0 243px 0;
}

.content__title{
    margin-bottom: 127px;
}

.content__title-description{
    font-size: 35px;
}

.content__title-blue{
    color: #17cfab;
}

.content__title-main{
    font-size: 78px;
    line-height: 140px;
}

.content__title-tagline{
    font-size: 34px;
    text-transform: capitalize;
    color: #D4D4D4;
    font-weight: normal;
}

/*----------------section #2--------------------------*/

.option-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-selection{
    height: 377px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
    padding: 85px 0;
    box-sizing: border-box;
}

.option-selection > p{
    margin: 47px auto;
}

.icon-container{
    height: 100px;
}

.black-option{
    background-color: #1C2A33;
    flex: 1;
    color: #18CFAB;
}

.cyan-option{
    background-color: #18CFAB;
    flex: 1;
    color: #FFFFFF;
}

/*----------------section #3--------------------------*/

.services__section{
    padding: 83px 0 91px 0;
}

.navbar{
    display: flex;
    justify-content: center;
    list-style: none;
    border: 1px solid #EDEFEF;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    text-transform: capitalize;
    height: 72px;
    margin: 0 0 27px 0;
}

.services__navbar > li {
    background-color: #F8FCFE;
    flex: auto;
    border: 1px solid #EDEFEF;
    padding: 16px 0;
    box-sizing: border-box;
}

.navbar > li:hover {
    border: 1px solid #18CFAB;
}

.navbar > li.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.navbar > li.active:after {
    display: block;
    content: '';
    width: 22px;
    height: 22px;
    background-color: #18CFAB;
    transform: rotateZ(45deg);
    position: relative;
    right: -45%;
}

.service__description li{
    display: none;
    height: 136px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.service__description li.active{
    display: flex;
}

.service__description img{
    width: 192px;
    height: 139px;
}

.service__photo{
    display: inline-block;
    margin: 0;
}

.service__text{
    display: inline-block;
    margin-left: 15px;
}

/*----------------section #4--------------------------*/

.purchase__section{
    background-image: url("../img/03 Sections Background/purchase-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.purchase__container{
    padding: 127px 0;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

.purchase__heading{
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase__description{
    font-size: 16px;
    line-height: 80px;
    color: #D8D8D8;
    margin-bottom: 62px;
}

/*----------------section #5--------------------------*/

.our-work__section{
    background: #E9EDEF;
    padding: 97px 0;
    text-align: center;
}

.work__navbar > li {
    background-color: rgba(0, 0, 0, 0.0001);
    min-width: 77px;
    border: 1px solid #DADADA;
    height: 58px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.work__navbar > li.work__nav-active {
    border: 1px solid #18CFAB;
}

.work__gallery{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 0;
    margin: 70px 0;
    padding: 0 12px;
}

.work__gallery > div{
    position: relative;
}

.work__gallery > div.hidden{
    display: none;
}

.work__gallery-hover{
    position: absolute;
    height: 101%;
    width: 101%;
    top: 0;
    left: -1px;
    background-color: #E9EDF0;
    background-image: url("../img/other/icon-creative-design.png");
    background-repeat: no-repeat;
    background-position: 102px 48px;
    border-top: 3px solid #18CFAB;
    box-sizing: border-box;
    padding: 112px 42px 33px 58px;
    display: none;
}

.work__gallery-hover__p{
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.work__gallery-hover__id{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.work__gallery > div:hover .work__gallery-hover{
    display: inline-block;

}

/*----------------section #6--------------------------*/

.news__section{
    background: #FFFFFF;
    padding: 82px 0 128px 0;
}

.news__gallery{
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 35px;
}

.news__gallery-item{
    display: block;
    position: relative;
    width: 263px;
    height: 280px;
    background: #F8FCFE;
    text-align: center;
    line-height: 39px;
    border: 1px solid #F2F4F5;
    margin-bottom: 46px;
}

.news__gallery-item:hover .news__post-date{
    background-color: #18CFAB;
}

.news__gallery-item:hover .news__post-name{
    color: #18CFAB;
}

.news__post-date{
    display: inline-block;
    position: absolute;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    width: 70px;
    height: 68px;
    top: -16px;
    right: 0;
    margin-top: 16px;
    background: #203E38;
}

.news__post-description{
    color: #717171;
    line-height: 39px;
}

.news__post-name{
    font-weight: bold;
    font-size: 18px;
}

.news__post-autor, .news__post-comments{
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
}

.news__post-autor::after {
    content: '|';
    padding: 12px;
}


/*----------------section #7--------------------------*/

.about-hum__section{
    background-image: url("../img/03 Sections Background/about-hum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.about-hum__container{
    padding: 98px 0 104px 0;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.feedback{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.feedback::before {
    display: inline-block;
    content: '';
    background-image: url("../img/07-about-hum-section/quotes.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 33px;
}

.feedback > li{
    display: none;
    margin: 36px 0;
}

.feedback > li.active {
    display: block;
}

.feedback__text{
    margin: 37px auto;
}

.client-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
}

.client-position{
    font-size: 14px;
    line-height: 27px;
    color: #BBBBBB;
    margin: 27px 0 50px 0;
}

.client-photo{
    border: 10px solid rgba(31, 218, 181, 0.2);
    border-radius: 120px;
    width: 141px;
    height: 141px;
    margin: 0 auto;
}

.slider{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 483px;
    height: 70px;
    margin: 51px auto;
}

.feedback__slider{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.slider-button{
    display: inline-block;
    position: relative;
    width: 31px;
    height: 31px;
    border: 1px solid white;
    color: white;
    font-size: 24px;
    top: 20px;
}

.slider-button:hover{
    background-color: #18CFAB;
}

.prev__slider-button::before, .next__slider-button::before{
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
    position: relative;
    top: 10px;
}

.prev__slider-button::before{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    left: 12px;
}

.next__slider-button::before{
    border-top: 1px solid white;
    border-right: 1px solid white;
    left: 8px;
}

.slider__client{
    position: relative;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 120px;
    width: 60px;
    height: 60px;
}

.slider__client.active{
    top: -25px;
    transform: translate(0,-25px);
    transition: 500ms;
}

.slider__client > img{
    width: 100%;
    height: 100%;
}

/*----------------section #8--------------------------*/

/*.best-images__section{*/

/*}*/

/*.amazing-work__container{*/
/*    padding: 95px 0 88px 0;*/
/*    text-align: center;*/
/*}*/

/*----------------section #9--------------------------*/

footer{
    background: #22353F;
    text-align: center;
    font-size: 14px;
    color: #AEAEAE;
    padding: 48px 0;
    margin-top: 10px;
}

footer > a{
    color: #18CFAB;
}
